* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --page-gutters: 15vw;
    --results-gap: 40px;
    --secondary-clr: rgb(77, 137, 189);
}

html {
    font-size: 1em;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

header {
    padding: 40px var(--page-gutters);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-clr);
    z-index: 999;
}


.logo {
    position: relative;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, rgb(0 0 0), rgb(117, 20, 16) 60%);
}

.logo::before {
    content: '';
    position: absolute;
    top: 85%;
    left: -10px;
    right: -10px;
    height: 3px;
    transform-origin: left;
    rotate: -5deg;
    background-color: black;
}

nav {
    align-self: flex-end;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

nav li {
    font-size: 1.19rem;
}

nav a {
    text-decoration: none;
    color: black;
}

.toggle-box {
    width: 2vw;
    height: 2vw;
    display: none;
    justify-content: center;
    align-items: center;
}

.toggle-box span {
    position: relative;
    width: 80%;
    height: 3px;
    background-color: black;

    transition: rotate 400ms ease-in;
}

.toggle-box span::before,
.toggle-box span::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    background-color: black;
    transition: top 150ms ease-in, bottom 150ms ease-in;
}

.toggle-box span::before {
    top: -8px;
}

.toggle-box span::after {
    bottom: -8px;
}

.toggle-box.open span::before {
    top: 0;
}

.toggle-box.open span::after {
    bottom: 0;
}

main {
    margin-top: 180px;
    width: calc(100% - (var(--page-gutters) * 2));
    margin-left: auto;
    margin-right: auto;
    min-height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.search-box {
    grid-column: 1 / 5;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 80px;
}

.search-box .input-div {
    position: relative;
    padding-right: 10px;
    flex: 0 0 70%;
    height: 30px;
    display: flex;
}

.input-div::before,
.input-div::after {
    content: '';
    position: absolute;
    background-color: #ccc;
    border-radius: 50%;
}

.input-div::before {
    bottom: -5px;
    left: 10px;
    right: 10px;
    height: 2px;
}

.input-div::after {
    top: 0;
    right: 0;
    height: 100%;
    width: 2px;
}



.input-div input {
    padding-left: 20px;
    width: 100%;
    border: none;
    outline: none;
    appearance: none;
    background-color: transparent;
    font-size: 1.09rem;
    color: white;
}

.input-div input::placeholder {
    color: white;
}

.search-box button {
    appearance: none;
    border: none;
    outline: none;
    background-color: transparent;
}

.search-box button:hover {
    cursor: pointer;
}

.material-symbols-outlined {
    color: white;
}

/* Results Styles */

.results-container {
    grid-column: 1 / 5;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--results-gap);
}

.results-container .card {
    position: relative;
    background-color: red;
    flex: 0 0 calc(25% - var(--results-gap));
    height: 300px;
}

.results-container .card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 60%;
    width: 100%;
    clip-path: polygon(0 100%, 100% 100%, 100% 70%);
    background-color: black;
}

.card .top {
    height: 60%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%);
    background-image: url(./image/sweden.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card .bottom {
    height: 40%;
    background-color: black;
    padding: 10px;
    color: white;
}

.card .bottom ul {
    list-style: none;
}

.card .bottom h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: black;
    background-color: white;
    text-align: center;
}


@media (max-width: 810px) {
    
    :root {
        --page-gutters: 5vw;
        --results-gap: 20px;
    }

    html {
        font-size: 0.9em;
    }

    .results-container .card {
        position: relative;
        background-color: red;
        flex: 0 0 calc(33% - var(--results-gap));
        height: 300px;
    }
}


@media (max-width: 520px) {
    
    :root {
        --page-gutters: 5vw;
        --results-gap: 20px;
    }

    html {
        font-size: 0.9em;
    }

    header{
        position: relative;
        padding: 20px var(--page-gutters);
    }

    main {
        margin-top: 20px;
    }

    .logo {
        font-size: 1.5rem;
    }

    nav {
        position: absolute;
        top: 100%;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        background-color: var(--secondary-clr);
        clip-path: circle(0 at 100% 0);

        transition: clip-path 150ms ease-in;
    }

    nav.open {
        clip-path: circle(150% at 100% 0);        
    }

    nav ul {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    nav ul li {
        font-size: 1.5rem;
        letter-spacing: 1.2px;
    }
    .toggle-box {
        display: flex;
        width: 8vw;
        height: 8vw;
    }

    .results-container .card {
        position: relative;
        background-color: red;
        flex: 0 0 calc(50% - var(--results-gap));
        height: 300px;
    }
}